
*{
  margin: 0;
  padding: 0;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  block-size: 80px;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid #b6b1b1;
}
.myntra_home {
  block-size: 45px;
}
.logo_container {
  margin-inline-start: 4%;
}
.action_bar {
  margin-inline-end: 4%;
}
.nav_bar {
  display: flex;
  min-inline-size: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-block-end: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-block-end: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  block-size: 40px;
  min-inline-size: 200px;
  inline-size: 30%;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  block-size: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  block-size: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-inline-size: 200px;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main section */
.banner_container {
  margin: 40px 0;
}
.banner_image {
  inline-size: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-block-size: 5em;
  font-weight: 700;
}

.category-items, .items-container {
  inline-size: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  inline-size: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-block-end: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-block-end: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}

.items-container {
  inline-size: 80%;
  margin: 40px 10%;
}
.item-container {
inline-size: 250px;
  margin: 10px;
}
.item-image {
  inline-size: 100%;
}
.rating {
  font-size: 12px;
  font-weight: 700;
}
.company-name {
  margin-block-start: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-block-end: 0;
  margin-block-start: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  margin-block-start:0px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-inline-start: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-inline-start: 5px;
}
.btn-add-bag {
  margin-block-start: 8px;
  font-size: 18px;
  inline-size: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.bag-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  block-size: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  inset-inline-start: 13px;
  inset-block-start: -44px;
  font-weight: 700;
  cursor: pointer;
}
.action_container {
  text-decoration: none;
}
a.action_container:link {
  color:black;
}


.bag-items-container {
  display: inline-block;
  inline-size: 64%;
  padding-inline-end: 20px;
  border-inline-end: 1px solid #eaeaec;
  padding-block-start: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  inline-size: 75%;
  margin-inline-start: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  inline-size: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-block-end: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-block-end: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  inset-inline-end: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-block-start: 16px;
  border-block-start: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  inline-size: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-block-end: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  block-size: 148px;
  inline-size: 111px;
}

.item-right-part {
  padding-inline-start: 12px;
  position: relative;
  min-block-size: 148px;
  margin-inline-start: 111px;
  margin-block-end: 12px;
}

.bag-item-img {
  inline-size: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-block-start: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-block-end: 4px;
}

.delivery-details {
  margin-block-start: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-block-end: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 18px;
  inline-size: 14px;
  block-size: 14px;
  cursor: pointer;
}













/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
